<h1>HEARnow</h1>
<nav>
	<a href="/songs/new" class="button outline">Upload!</a>
	<a href="/songs-help" class="button outline">what do!?!</a>

</nav>





	 {{#each songs}}

	  <div class="small-4 columns">

	    <div class="image-wrapper overlay-slide-in-left">



	      <img src="{{{this.artwork}}}">



	        <div class="image-overlay-content">


	 		 	<h2><a href=/songs/{{this.id}}>{{this.title}}</a></h2>

	        	<h4 class="artist">{{{this.artist}}}</h4>

	        	<p class="description">{{{artist_description}}}</p>

	        	<a href="/songs/{{this.id}}" class="button">&#128265;</a>
	      </div>
	    </div>

	  </div>

	  </div>
	 {{/each}}
