<h1>HEARnow</h1>
<nav>
  <a class="link" href="/songs/new">Upload</a> /
  <a class="link" href="/songs/help">whatdo??</a>
</nav>




	
	 {{#each songs}}

	  <div class="small-4 columns">

	    <div class="image-wrapper overlay-slide-in-left">



	      <img src="{{{this.artist_avatar}}}">



	        <div class="image-overlay-content">


	 		 	<h2><a href=/songs/{{this.id}}>{{this.title}}</a></h2>

	        	<h4 class="artist">{{{this.artist}}}</h4>

	        	<p class="description">{{{artist_description}}}</p>

	        	<a href="#" class="button">Listen</a>
	      </div>
	    </div>

	  </div>

	  </div>
	 {{/each}}
	
